.wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: black;
  color: antiquewhite;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: black;
  color: antiquewhite;
}

.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: black;
  color: antiquewhite;
  align-self: center;
}

.four {
  grid-column: 1;
  grid-row: 3 / 5; 
  background-color: black;
  color: antiquewhite;
}
